.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App__results-container {
  height: max-content;
  width: 100vw;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 5px;
  grid-gap: 10px;
  background: pink;
}

.App__title {
  background: rgb(36,42,46);
  padding: 10px 0;
}

.App__title > h1{
  font-weight: bold;
  animation: grow 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.App__buttonGroup {
  margin: 10px;
}

@keyframes grow {
  0% {
    transform: scale(1.01, 0.9);
    color: lightblue;
  }
  100% {
    transform: scale(1, 1);
    color: blue;
  }
}